<nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="employees"> Employees List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="create-employee">Add employee</a>
        </li>
      </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>
            All rights reserved 2023 Abid Khan
        </span>
    </div>
</footer>

<div class="rate-my-app">
    <span style="text-align:center; position:relative; bottom:7px; right:10px">Rate my app</span>
    <mat-icon aria-label="Example home icon">sentiment_very_dissatisfied</mat-icon>
&nbsp;&nbsp;
<mat-icon  aria-label="Example home icon">sentiment_dissatisfied</mat-icon>
&nbsp;&nbsp;
<mat-icon aria-label="Example home icon">sentiment_neutral</mat-icon>
&nbsp;&nbsp;
<mat-icon aria-label="Example home icon">sentiment_satisfied</mat-icon>
&nbsp;&nbsp;
<mat-icon aria-label="Example home icon">sentiment_very_satisfied</mat-icon>
</div>