<nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="employees"> Employees List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="create-employee">Add employee</a>
        </li>
      </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>
            All rights reserved 2023 Abid Khan
        </span>
    </div>
</footer>

